.card {background: white;
     display: inline-block;
     margin: auto;
     height: 100px;
     width: 50px;
    border-radius: 7%;
    margin-left: 5%;
    margin-top: 5%;}
    
    .sort {background: white;
     display: inline-block;
     margin: auto;
     height: 100px;
     width: 50px;
    border-radius: 7%;
    margin-left: 5%;
    margin-top: 5%;}
.container1 {
    margin-top: 10%;
}
